@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Roboto:wght@100;300&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header  */
header {
  background-color: #ffc300;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  overflow-x: hidden;
  height: 10rem;
}
.logo {
  font-size: 2rem;
  font-family: cursive;
  width: 30vw;
  padding-left: 4rem;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.nav-links li a:hover {
  color: #000;
  transition: all 0.5s ease 0s;
}

/* Main Page */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.welcome {
  height: 70vh;
  width: 50vw;
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  column-gap: 0;
}
span {
  color: #ffc300;
}
.welcome h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.welcome p {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(87, 87, 87);
  font-family: "Roboto", sans-serif;
}
#randomimg {
  width: 50vw;
  height: 70vh;
  margin-right: 15rem;
  border-radius: 100%;
  position: relative;
}
.random-recipeImg {
  width: 50vw;
  height: 70vh;
  margin-right: 15rem;
  border-radius: 100%;
}
.random-recipe-name {
  text-align: center;
  width: 30%;
  margin-left: 20rem;
  margin-top: 0;
  color: black;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(87, 87, 87);
  background-color: #ffc300;
  /* position: absolute; */
  padding: 7px 0;

  border-radius: 25%;
}
/* 
img {
  max-width: 100%;
}
.recipe-container {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 10px 5px #3333331a;
  border-radius: 2px;
  overflow: hidden;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > input {
  background-color: #eee;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: inherit;
  width: 70%;
}
header > button {
  color: #aaa;
  border: none;
  font-size: 1.4rem;
  margin-left: 8px;
  background-color: transparent;
  cursor: pointer;
}
.fav-recipe-container {
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: rgb(204, 212, 216);
}
.fav-meals {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.fav-meals > li {
  margin: 0.2rem;
  padding: 0.5rem;
  height: 110px;
  width: 85px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #3333331a;
  position: relative;
}
.fav-meals > li:hover {
  .clear {
    opacity: 1;
    background-color: red;
    color: white;
    transition: all 0.6s ease-in-out;
  }
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.clear {
  background-color: #e7e7e7;
  box-shadow: 0 0 10px 2px #3333331a;
  color: red;
  padding: 0.25rem 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.fav-meals > li > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
}

.fav-meals > li > span {
  font-size: 0.8rem;
  font-weight: bold;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.meals {
  margin: 1.5rem;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}

.meal-box {
  position: relative;
}
.meal-box > .random-recipe {
  position: absolute;
  top: 0.5rem;
  background-color: #e7e7e7;
  padding: 0.25rem 0.5rem;
  border-radius: 0 3px 3px 0;
}
.meal-box > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.meal-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.meal-description > h4 {
  margin: 0;
}
.meal-description > .fav-btn {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color: #cfcfcf;
}
.meal-description > .fav-btn.active {
  color: crimson;
}
.meal-info-container {
  display: flex;
  text-align: center;
} */
